<%- layout('layouts/boilerplate') %>
    <form class="needs-validation" method="post" action="/listings/<%= data._id %>?_method=PUT" novalidate enctype="multipart/form-data">
        <h1>Edit Information</h1>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
         <input type="text" name = "title" value= "<%= data.title%>" class="form-control" required>
         <div class="valid-feedback">
            Looks good! title 
          </div>
          <div class="invalid-feedback">
            Enter title
          </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control"required name="description"  ><%= data.description  %></textarea>
        <div class="valid-feedback">
            Looks good! description
          </div>
          <div class="invalid-feedback">
            Enter description
          </div>
    </div>
    <div class="mb-3" style="display: flex;">
        <label for="price"  class="form-label">Price</label>
        <input class="form-control" required  name = "price"value = <%= data.price  %>> 
        <div class="invalid-feedback">
            Enter  price
          </div>
        <label for="country" class="form-label">Country</label>
        <input type="text" required class="form-control" name = "country" value= <%= data.country %>>
        <div class="valid-feedback">
            Looks good!  
          </div>
          <div class="invalid-feedback">
            Enter country Name
          </div>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input required class="form-control" type="text" name = "location" value=<%= data.location %> > 
        <div class="valid-feedback">
            Looks good! 
          </div>
          <div class="invalid-feedback">
            Enter location
          </div> 
    </div>
    <div class="mb-3">
      <h1>Original Image listing</h1> <br>
      <img src="<%= originalImage  %>" width="300px" height="300px" alt="Image" class="img-thumbnail" style="border-radius: 4px;">  
    </div>
    <div class="mb-3">
        <label for="url" class="form-label">Upload new Image</label>
        <input  class="form-control" type="file" name="listing[image]" >
    </div>
   
<button class="btn btn-primary" style="margin-bottom: 100px;">Submit</button>
    </form>
    <script src="/js/script.js"></script>

